<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd" >
<suite name="API Tests Suite" parallel="tests" thread-count="10">
    <test name="Product API Test">
        <classes>
            <class name="com.example.task2.runner.ProductAPITestRunner" />
            <class name="com.example.task2.runner.DeleteProductTestRunner" />
        </classes>
    </test>
   <!-- <test name="Delete Product Test">
        <classes>
            <class name="com.example.task2.runner.DeleteProductTestRunner" />
        </classes>
    </test>-->
</suite>
